<div class="p-3">
    <div class="card">
         <div class="card-body">
            <input [(ngModel)]="keyword" type="text" class="m-3">
            <button (click)="search()" >submit</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Surname</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody *ngIf="users">
                    <tr *ngFor="let u of users">
                     <td>{{u.id}}</td>
                     <td>{{u.username}}</td>
                     <td>{{u.role}}</td>
                     <td>
                        <button (click)="deleteUser(u)" class="btn btn-danger">Delete</button>
                     </td>
                    </tr>
                </tbody>
            </table>            
         </div>
    </div>
</div> 
   